<style>
    @import url('reset.css');
    
    @font-face {
        font-family: Roboto;
        src: url("/fonts/Roboto-Regular.ttf");
    }

    * {
        font-family: Roboto;
        font-size: 14px;
    }

    body {
        background-color: rgb(230, 228, 228);
    }

    .menu {
        background-color: white;
        border : 1px solid rgb(177, 176, 176);
        height: 60px;
        align-content: center;
        position: relative;
    }


    .InlineBlock {
        display: inline-block;

    }

    #menu-burguer {
        width: 24px;
        height: 24px;
        margin-left: 20px;
        vertical-align: middle;
    }

    #youtube {
        width: 90px;
        height: 20px;
        margin-left: 20px;
        vertical-align: middle;
    }

    #box-search {
        width: 348px;
        height: 40px;
        border: 1px solid gray;
        background-color: rgb(247, 246, 246);
        margin-left: 50px;
        vertical-align: middle;
    }

    #box-lupa {
        width: 57px;
        height: 40px;
        border: 1px solid gray;
        background-color: rgb(218, 214, 214);
        margin-left: -6px;
        vertical-align: middle;
    }

    #right-menu {
        width: 130px;
        height: 34px;
        margin-right: 10px;
        vertical-align: middle;
        position:absolute;
        right: 0;
    }

    .container-pai {
        background-color: rgb(230, 229, 229);
        display: flex;
        align-items: flex-start;
        gap: 10px;
    }
    
    
    #FlexDirection {
        flex-direction: row; /*coloca os elemntos um ao lado do outro*/
        padding: 10px;
    }

    .video {
        width: 952px;
        height: 900px;      
    }

    .video span {
        font-size: 16px;
        font-weight: 700;
    }

    .chanel-info {
        margin-top: 20px;
    }

    .chanel-info img {
        margin-right: 20px;
        vertical-align: middle;
    }

    .video p {
        width: 550px;
    }

    .tumbls { 
        width: 160px;
        height: 900px;  
    }
    .tumbls img {
        margin-bottom: 10px;
    }

    .txt-tumbls { 
        width: 190px;
        height: 900px;
    }
    .txt-tumbls p {
        margin-top: 2px;
    }

    

</style>