<style>
    @import url('reset.css');
    
    @font-face {
        font-family: Roboto;
        src: url("/fonts/Roboto-Regular.ttf");
    }

    * {
        font-family: Roboto;
        font-size: 14px;
    }

    .menu {
        background-color: white;
        border : 1px solid rgb(177, 176, 176);
        height: 60px;
        align-content: center;
        position: relative;
    }


    .InlineBlock {
        display: inline-block;

    }
    #FlexDirection {
        flex-direction: row; /*coloca os elemntos um ao lado do outro*/
        padding: 10px;
    }

    #menu-burguer {
        width: 24px;
        height: 24px;
        margin-left: 20px;
        vertical-align: middle;
    }

    #youtube {
        width: 90px;
        height: 20px;
        margin-left: 20px;
        vertical-align: middle;
    }

    #box-search {
        width: 348px;
        height: 40px;
        border: 1px solid gray;
        background-color: rgb(247, 246, 246);
        margin-left: 50px;
        vertical-align: middle;
    }

    #box-lupa {
        width: 57px;
        height: 40px;
        border: 1px solid gray;
        background-color: rgb(218, 214, 214);
        margin-left: -6px;
        vertical-align: middle;
    }

    #right-menu {
        width: 130px;
        height: 34px;
        margin-right: 10px;
        vertical-align: middle;
        position:absolute;
        right: 0;
    }


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    body {
        display: grid;
        grid-template-columns: 200px repeat(3, 1fr);
        /*grid-template-rows: 100px 300px 100px;*/
        grid-template-areas: "nav nav nav nav"
                             "aside main main main";
                             
        gap: 10px;                   
    }
    
    nav {
        background-color: aquamarine;
        grid-area: nav;
    }
    aside {
        background-color: rgb(255, 255, 255);
        grid-area: aside;
        padding: 15px; 
    }
    .navbar {
        margin-top: 15px;
        display: flex;
        align-items: center;
    }
    .navbar img {
        margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    }
    
    main {
        grid-area: main;
        display: grid;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 15px;
        grid-gap: 20px;

    }
    main img {
        width: 100%;
    }
   
    .video-details img {
        width: 40px;
        height: 40px;

    }

      
    .video-details {
        display: flex;
        align-items: top; /* Alinha verticalmente o conteúdo ao centro */
        margin-top: 5px;
    }
      
      .video-details img {
        margin-right: 10px; /* Espaçamento entre a imagem e o texto */
      }
      
      .video-info b, .video-info p {
        margin: 0;
      }
    
    
</style>